*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$background: #c7b6fa;
$container: #b399ff;
$button: #59429d;

//dark mode
$background-dark: #292c35;

@mixin transition($value...){
    transition: $value;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
}

@mixin border-radius($radius...){
    border-radius: $radius;
}

@mixin border($border...) {
    border: $border;
}

body{
    @include transition(background 0.1s linear);
    width: 100vw;
    height: 100vh;
    background: $background;
    padding: 10px
}

body.dark{
    background-color: $background-dark;  

}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;

    .overlay{
        @include transition(200ms ease-in-out);
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        z-index: 10;
    }

    .popUp{
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        -moz-transform: translate(-50%, -50%) scale(0);
        @include border(1px solid black);
        @include transition(200ms ease-in-out);
        @include border-radius(10px);
        background-color: $background;
        padding: 40px 20px;
        position: fixed;
        max-width: 80%;
        height: 400px;
        width: 330px;
        z-index: 16;
        opacity: 0;
        left: 50%;
        top: 50%;
   
        button{
            @include transition(200ms ease-in-out);
            -webkit-transform: translatex(50%);
            -moz-transform: translate(50%);
            transform: translatex(50%);
            position: absolute;
            background: none;
            font-size: 3rem;
            cursor: pointer;
            border: none;
            color: red;
            z-index: 100;
            padding: 0;
            top: -50px;
            right: 50%;
        }

        .popUp-image{
            @include border( 1px solid black);
            border-radius: 50%;
            max-height: 150px;
            max-width: 150px;
            overflow: hidden;
            margin: 0 auto;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .popUp-informations{
            justify-content: space-between;
            flex-direction: column;
            margin-top: 30px;
            height: 100px;
            display: flex;

            h4{
                color: rgb(135, 66, 224);
            }
            span{
                color: black;
            }
        }

        .popUp-header{
            background-color: #7b69b1;
            border-top-left-radius: 3px;
            border-top-right-radius: 5px;
            position: absolute;
            padding: 3px 40px;
            text-align: end;
            color: white;
            width: 100%;
            left: 0;
            top: 0;
        }

        .popUp-footer{
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: #7b69b1;
            text-transform: uppercase;
            position: absolute;
            text-align: center;
            font-size: 16px;
            color: white;
            padding: 10px;
            width: 100%;
            bottom: 0;
            left: 0;
        }

    }

    .popUp.active{
        @include transition(200ms ease-in-out);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    //dark mode
    .popUp.active.dark{
        background: $background-dark;
    }

    .popUp.active.dark span{
        color: white;
    }

    .overlay.active {
        opacity: 1;
        pointer-events: all;
      }


    .container{
        @include transition(background 0.1s linear);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: space-around;
        background-color: $container;
        flex-direction: column;
        position: relative;
        max-width: 330px;
        border-radius: 4px;
        padding: 40px 40px;
        margin-bottom: 10px;
        align-items: center;
        height: 600px;

        .hide{
            display: none;
        }
        
        .header{
            display: flex;
            justify-content: space-between;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background-color: #7b69b1;
            position: absolute;
            padding: 5px 40px;
            color: white;
            text-align: end;
            width: 100%;
            top: 0;

            .checkbox {
                opacity: 0;
                position: absolute;
            
            }
            
            .checkbox:checked + .label .ball{
                transform: translateX(24px);
            }
            
            .label{
                display: flex;
                justify-content: space-between;
                background-color: #111;
                position: relative;
                align-items: center;
                border-radius: 50px;
                width: 50px;
                height: 26px;
                padding: 5px;

                .fa-moon {
                    color: #f1c40d;
                }
                
                .fa-sun {
                    color: #f39c12;
                }
            }
              
            .ball{
                transition: transform 0.2s linear;
                background-color: #fff;
                position: absolute;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                top: 2px;
                left: 2px;
            }
        }

        .btn{
            input#about-music {
                @include transition(.5s);
                border-top-right-radius: 10px;
                background-color: $button;
                position: absolute;
                color: white;
                cursor: pointer;
                padding: 5px;
                font-size: .8rem;
                border: none;
                top: -35px;
                left: -2px;
                z-index: 1;

                &:hover{
                    background: #413072;
                }
            }
        }
    
        .images{
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
            border: 2px solid white;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .current-play{
            :first-child{
                text-transform: uppercase;
                text-align: center;
                font-size: 2rem;
                color: white;
            }

            :last-child{
                text-transform: uppercase;
                background: white;
                padding: 1px 10px;
                border-radius: 4px;
                font-size: 1rem;
                text-align: center;
                width:100%;
                opacity: .3;
                color:black;
            }
        }
    
        .song{
            justify-content: center;
            align-items: center;
            height: 100px;
            display: flex;
            width: 100%;
    
            audio{
                border-radius: 3px;
            }
        }
    
        .btn{
            margin-bottom: 30px;
            
            button.btn-starter{
                text-transform: uppercase;
                border: 1px solid #302650;
                background-color: $button;
                padding: 10px 10px;
                border-radius: 5px;
                font-size: 16px;
                border: none;
                color: white;
                cursor: pointer;
                transition: 0.4s;
    
                &:hover{
                    background: #413072;
                }
            }
        }

        .footer{
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: #7b69b1;
            text-transform: uppercase;
            position: absolute;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            color: white;
            width: 100%;
            bottom: 0;
        }


    }

    .container.dark{
        background: $background-dark;
    }

    footer{
        margin-top: 10px;
        color: white;
    }

}


@media screen and ( max-width: 500px){
    .wrapper{
     .container{
         padding: 10px;
      }
 
      .btn-starter{
         margin-bottom: 10%;
     }
    }
 }
 

@media (max-width: 500px){
    .wrapper{
        justify-content: flex-end;
        .container{
            width: 90%;
            padding: 30px 10px;
            height: 500px;
        }
    }
}

@media screen and ( max-width: 358px){
    .images {
        width: 50%;
        height: 30%;
    }

    .wrapper{
        .container{
            padding: 10px 10px;
            height: 500px;

            .btn{
                margin-bottom: 50px;
            }
         }
    }

}
